<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-info" role="alert">
          <ul>
            <li>
              Below are the valid cards: <br>
              <b>{{ keyset.toString() }}</b> 
            </li>
            <li>
              Enter Cards seperated by space, <br>
              For Ex, <b> 2 A Q K </b>  
            </li>
          </ul>
        </div>
        <form @submit.prevent="submitForm">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" v-model="fields.name" />
              <div v-if="errors && errors.name" class="text-danger">{{ errors.name[0] }}</div>
          </div>
          
          <div class="form-group">
              <label for="user_cards">Player's Hand</label>
              <input type="text" class="form-control" id="user_cards" v-on:keyup="keymonitor" v-model="fields.user_cards" />
              <div v-if="errors && errors.user_cards" class="text-danger">{{ errors.user_cards[0] }}</div>
          </div>

          <div class="form-group">
              <label for="user_cards">Generated Hand</label>
              <input type="text" class="form-control" id="system_cards" disabled="" readonly="" v-model="fields.system_cards" />
          </div>
          <v-card>
            <v-card-title>
              <h3>Current Game</h3>
            </v-card-title>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Player's :  <span> {{ player_score }} </span></p><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Generated :  <span> {{ system_score }} </span></p><br>
          </v-card>
          <hr>
          <button type="submit" class="btn btn-primary">PLAY</button>
        </form>    
      </div>
      <div class="col-md-6">
        <v-card>
          <v-card-title>
            <h3>Leader Board</h3>
          </v-card-title>
          <v-data-table dense :headers="headers" :items="initialData" item-key="name" id='DataTable' class="elevation-1">
          </v-data-table>
        </v-card>
      </div>
    </div>
  </div>
    

</template>
<script>

//import Spinner from "vue-simple-spinner";
import { DataTable, ItemsPerPageDropdown, Pagination } from "v-datatable-light";
//import orderBy from "lodash.orderby";
import DatatableFactory from 'vuejs-datatable';


export default {
  data() {
    return {
      fields: {
        name:'',
        user_cards:'',
        system_cards:'',
      },
      errors: {},
      keyset:['2','3','4','5','6','7','8','9','10','J','Q','K','A'],
      validate_chars:[' ','2','3','4','5','6','7','8','9','10','J','Q','K','A', 'a', 'j', 'q', 'k'],
      player_score:0,
      system_score:0,
      
      rows: [],
      page: 1,
      per_page: 10,
      initialData: [],
      headers: [
        { value: "name", text: "Name"},
        { value: "total", text: "Win"},
        { value: "created_at", text: "Date"},
    ],
    }
  },
  components: {
    DataTable,
  },
  mounted(){
    this.getData();
  },
  methods: {
    submitForm() {
      this.errors = {};

      this.fields.user_cards = this.fields.user_cards.trim();
      
      if(this.fields.user_cards.length == 0){
        alert("You've to enter card to play game!!");
        return false;
      }

      var input_user_cards = this.fields.user_cards.split(" ");
      
      var user_cards_length = input_user_cards.length;

      var auto_generated_cards = _.sampleSize(this.keyset, user_cards_length);
      
      this.fields.system_cards = auto_generated_cards.join(" ");
      
      axios.post('/calculate_score', this.fields).then(response => {
        this.player_score =response.data.player_score;
        this.system_score =response.data.system_score;
        this.getData();  

      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
      });
    
    },
    async getData() {
      axios
        .get('/score_list')
        .then(response => {
          this.initialData = response.data; 
          console.log();
        })
        .catch(error => {
          this.logIt(error);
        });
    },
    keymonitor: function(event) {
      // this.fields.user_cards = this.fields.user_cards.trim();
      // user_cards
      var inCards = this.fields.user_cards.trim();
      var lastChar = this.fields.user_cards[this.fields.user_cards.length - 1];
      var isValidChar = this.validate_chars.includes(lastChar);
      if(!isValidChar){
        alert("Last Card entered is not valid!");
      }
    },
    ltrim: function(str) {
      if(!str) return str;
      return str.replace(/^\s+/g, '');
    }
    
  },
}
</script>